{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "env": {
    "node": true,
    "jest": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "quotes": ["error", "single"],
    "indent": ["error", 2, {
      "MemberExpression": 1
    }],
    "@typescript-eslint/typedef": ["error", {
      "memberVariableDeclaration": true,
      "propertyDeclaration": true,
      "variableDeclaration": true,
      "variableDeclarationIgnoreFunction": true,
      "arrowParameter": false
    }],
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-non-null-assertion": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/semi": ["error", "always"]
  },
  "overrides": [
    {
      "files": ["test/**/*"],
      "rules": {
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-explicit-any": "off"
      }
    }
  ]
}
